*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
 
}



  .container{
    background: linear-gradient(#144d45, #097a6b);
    height:97vh;
    width:100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: .5em;
    grid-template-areas:
    "top1 top2 top3 top4"
    "mid1 mid2 mid3 mid4"
    "base1 base2 base3 base4";
}

.logo{
    grid-area: top1;
    grid-row: 1;
    width: auto;
    height:auto;
    display: flex;
    justify-content:space-around;
}
.logo-child{
    margin: auto;
}
.connect{
    grid-column: top2 / top3;
    grid-row: 1;
    width: auto;
    min-height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 1em;
    margin-left: 1em;
    padding: 0em 5em 0em 5em;
    
}

.connect div a:hover{
    animation-name: bounce;
    animation-duration: 0.8s;
}

.git{
    min-height: auto;
    min-width: auto;
    display: flex;
}
.git a{
    margin: auto;
}


.twetter{
    min-height: auto;
    min-width: auto;
    display: flex;
}
.twetter a{
    margin: auto;
}

.linkedin{
    min-height: auto;
    min-width: auto;
    display: flex;
}
.linkedin a{
    margin: auto;
}

.email{
    grid-area: top4;
    grid-row: 1;
    width: auto;
    min-height: auto;
    display: flex;
}
.email-child{
    margin: auto;
}
.email-child a img:hover{
    animation-name: expand;
    animation-duration: 2s;
}

.skills{
    background-color:  #097a6b;
    grid-column: base1 / base2;
    grid-row: 1 / 4;
    width: auto;
    height: auto;
    padding: 10em 16.5em 2em 1em;
    border-radius: 5px 900px 5px 5px;
    transform:translateX(-100%);
    transition: 0.5s ease-in;
}
.skill-inactive{
    transform:translateX(-100%);
}

.skills div div li {
    opacity: 0;
}
.skills div div h2 {
    opacity: 0;
}
.skills div div p {
    opacity: 0;
}
.my-skills{
    background-color:none;
    padding: 5px;
    width: auto;
    height: auto;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "work"
    "tools";
}

.work{
    text-align: center;
    padding:5px;
    grid-area: work ;
    margin-bottom: 25px;
}
.work h2{
    padding: 0px 0px 25px 0px;
    font-size: 50px;
}
.work p{
    font-size: 30px;
}

.tools{
    text-align: center;
    list-style: none ;
    padding: 5px;
    grid-area: tools;
}

.tools h2{
    padding: 0px 0px 25px 0px;
    font-size: 50px;
}
.tools ul{
    font-size: 10px;
    text-align: start;
}
.main-btns{
    grid-column: base1 / base4;
    grid-row: 3/4;
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr 1fr;
    grid-gap: 1em;
    grid-template-areas: 
    "ski yes yes abo";
}

.skills-show{
    background-color:  #097a6b;
    padding: 0;
    grid-area: ski;
    cursor: pointer;
}
.about-show{
    background-color:  #097a6b;
    grid-area: abo;
    cursor: pointer;
}

.about{
    background-color:  #097a6b;
    grid-column: base3 / base4;
    grid-row: 1 / 4;
    width: auto;
    height: auto;
    padding: 10px 10px 20px 20px;
    border-radius: 900px 5px 5px 5px;
    transform:translateX(100%);
    transition: 0.5s ease-in;
}

.about div div h1{
    opacity: 0;
}
.about div div p{
    opacity: 0;
}
.about div div img{
    opacity: 0;
}

.about-active{
    transform:translateX(0);
}
.about-inactive{
    transform:translateX(100%);
}

.about-me{
    background-color: none;
    padding: 5px;
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    'head head'
    'text1 img'
    'text2 text2';
}

.head{
    grid-area: head ;
    text-align: center;
    font-size: 10px;
    padding: 0px 0px 0px 0px;
    margin-bottom: 5px;
}

.head h2{
    padding: 0px 0px 0px 135px;
}
.img{
    grid-column: img;
    grid-row: img;
    align-items: right;
    z-index: 9;
}
.text1{
    grid-column: text1 / img;
    grid-row:text1;
    font-size: 5px;
    z-index: 10;
}
.text1 p{
    line-height: 1.5;
    padding: 5px 50px 0px 0px;
}
.text2{
    grid-area: text2;
    font-size: 10px;
}
.text2 p{
    line-height: 1.5;
}

.head, .text1, .text2{
    padding: 5px;
}

@media only screen and (max-width: 40rem) {

    body{
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    .container{
        background: linear-gradient(#09356e, #155ada);
        height: 100vh;
        width: 100%;
        padding-top: 1.5em;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: .2em;
        grid-template-areas:
        "top1 top2 top3"
        "mid1 mid2 mid3"
        "base1 base2 base3";
    }

        .logo{
            grid-area: top1;
            width: auto;
            height:auto;
            display: flex;
            justify-content:space-around;
        }
        .connect{
            grid-area: top2 ;
            width: auto;
            min-height: auto;
            display: flex;
            justify-content: space-between;
            margin-right: .2em;
            margin-left: .2em;
            padding: 0em .2em 0em .2em;
        }
        
        .git .twetter .linkedin{
            min-height: auto;
            min-width: auto;
            display: flex;
        }
        
        .email{
            grid-area: top3;
            width: auto;
            min-height: auto;
            display: flex;
        }

        .main-btns{
            grid-column: base1 / base3;
            grid-row: 3/4;
            display: grid;
            grid-template-columns: 1fr 0.5fr 1fr;
            grid-gap: .5em;
            grid-template-areas: 
            "ski yes abo";
        }
        
        .skills-show{
            background-color:  #66e9d7;
            padding: 0;
            grid-area: ski;
            cursor: pointer;
        }
        .about-show{
            background-color:  #77fcea;
            grid-area: abo;
            cursor: pointer;
        }
        .skills{
            background-color:  #097a6b;
            grid-column: base1 / base3;
            grid-row: 1 / 4;
            width: auto;
            height: auto;
            padding: 5em 8.5em 1em .5em;
            border-radius: 5px 900px 5px 5px;
            transform:translateX(-100%);
            transition: 0.5s ease-in;
        }

        .skill-inactive{
            transform:translateX(-100%);
        }

        .about{
            background-color:  #097a6b;
            grid-column: base1 / base3;
            grid-row: 1 / 4;
            width: auto;
            height: auto;
            padding: 5em 8.5em 1em .5em;
            border-radius: 900px 5px 5px 5px;
            transform:translateX(100%);
            transition: 0.5s ease-in;
        }

        .about-inactive{
            transform:translateX(100%);
        }

        .about-active{
            transform:translateX(0);
        }

  }

@keyframes fade{
    from {
       opacity: 0;
      
    }
    to {
      opacity: 1;
    
    }
  }
  @keyframes bounce {
      0% {margin: auto;}
      25%{margin-top: 10px;}
      50%{margin: auto;}
      100%{margin: 10px;}

  }

  @keyframes expand {
      from{
          height: 30px;
          width: 30px;
      }
      to{
          height: 60px;
          width: 60px;
      }
  }

  
  /*@media screen and (min-width: 280px) {
    .container {
      background-color: lightgreen;
    }
    .skills{
        background-color: rgb(110, 224, 161);
        width: 40vh;
        height: 40vh;
        position: absolute;
        bottom: -140px;
        left: -140px;
        border-radius: 250px;
    }

    .about{
        background-color:  rgb(224, 110, 119);
        width: 40vh;
        height: 40vh;
        position: absolute;
        bottom: -140px;
        right: -140px;
        border-radius: 250px;
    }

    .email{
        background-color: rgb(224, 188, 110);
        width: 10vh;
        height: 10vh;
        position: absolute;
        bottom: 50px;
        right: 42%;
        z-index:5;
        
  }*/
  